* {
  font-family: "montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
}

header {
  background-color: whitesmoke;
}

.main-title {
  margin-top: 2rem;
  margin-bottom: 0;
  padding: 0;
  text-align: center;
  font-weight: bold;
}

nav ul {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  background-color: oldlace;
}

.home-button,
.portfolio-button,
.contact-button,
.skill-button {
  display: flex;
  justify-content: center;
  border: 16px solid whitesmoke;
}

img {
  max-width: 100%;
}

.wrapper {
  padding: 1em;
}

h2 {
  text-transform: capitalize;
  text-align: center;
  margin-top: 50px;
}

.portfolio {
  text-transform: uppercase;
}

p {
  text-align: center;
}

ul li {
  text-align: center;
}

footer {
  background-position: auto;
  background-color: whitesmoke;
}

hr {
  margin-top: 50px;
}

.sub-title {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  font-weight: bold;
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 1000px;
    margin: auto;
  }

  header {
    display: flex;
    flex-direction: row;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
  }

  .main-title {
    margin-left: 0;
  }
}
