* {
  font-family: "montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
}

header {
  background-color: whitesmoke;
}

.main-title {
  margin-top: 2rem;
  margin-bottom: 0;
  padding: 0;
  text-align: center;
  font-weight: bold;
}

nav ul {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  background-color: oldlace;
}

a {
  text-decoration: none;
}

.home-button,
.portfolio-button,
.contact-button,
.skill-button {
  display: flex;
  justify-content: center;
  border: 16px solid whitesmoke;
}

a:hover {
  color: blue;
}

img {
  max-width: 100%;
  padding-top: 1em;
}

.intro-text {
  font-family: "roboto", sans-serif;
  color: mediumvioletred;
}

main {
  background-color: honeydew;
}

h2 {
  text-transform: capitalize;
  text-align: center;
}

.portfolio {
  text-transform: uppercase;
}

p {
  text-align: center;
}

ul li {
  text-align: center;
}

footer {
  background-color: whitesmoke;
}

.footer-display {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  text-transform: capitalize;
  margin-top: 0px;
  font-weight: bold;
}

.footer-title {
  margin-left: 1em;
}

.footer-nav {
  margin-right: 1em;
}

.full {
  display: none;
}

hr {
  margin-top: 50px;
}

.sub-title {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  font-weight: bold;
}

@media (min-width: 768px) {
  .main-title {
    margin-top: 20px;
  }

  .main-nav {
    display: flex;
    justify-content: center;
  }

  .intro {
    display: flex;
    flex-direction: row-reverse;
  }

  #portfolio {
    text-align: center;
  }

  .content-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .marketing-page,
  .search-page,
  .travel-app,
  .favorite-spots,
  .photo-gallery,
  .calculator {
    width: 50%;
  }

  .skillsets {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .top {
    display: none;
  }

  .full {
    display: inline-block;
    margin: 0 20px;
  }

  ul li:first-child {
    margin-left: 0px;
  }
}

@media (min-width: 1024px) {
  .top-header {
    display: flex;
    justify-content: space-between;
  }

  .main-nav {
    margin-top: 1em;
  }

  .main-title {
    margin-left: 2em;
  }

  .content-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .marketing-page,
  .search-page,
  .travel-app,
  .favorite-spots,
  .photo-gallery,
  .calculator {
    width: 33.33%;
  }
}
